/* --------First Page-------- */

.containerFirstPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.twitter {
  padding-bottom: 2rem;
  text-align: center;
}

.twitter h3 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.twitter p {
  font-size: 1rem;
  margin: 0;
  color: #657786;
}

button {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.butonlar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.girisYap {
  background-color: #1da1f2;
}

.girisYap:hover {
  background-color: #0d8ecf;
}

.kayitOl {
  background-color: #fff;
  color: #1da1f2;
  border: 2px solid #1da1f2;
}

.kayitOl:hover {
  background-color: #1da1f2;
  color: #fff;
}
